/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background: green;
	font-family: 'Abril Fatface', cursive;
}

/* 2. Content ================================= */

form {
	padding: 75px 175px 0;
	font-size: 30px;
	.suggestions {
		margin: 5px 0;
		font-size: 0.75em;
		width: 25%;
		a {
			display: inline-block;
			margin-right: 5px;
			color: #777;
		}
	}
}

button {
	width: 100%;
	margin-left: -2%;
	font-family: 'Abril Fatface', cursive;
	font-size: 18px;
	background: 
}


